<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Conctact</a>
  </li>
  <li class="breadcrumb-item active">Add Contact</li>
</ol>

<!-- Page Content -->
<h1>Contact Form</h1>
<hr>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="alert {{saveResponse._class}}">{{saveResponse.msg}}</div>
    <form name="contactForm" novalidate id="abc" ng-submit="saveContact(contactForm.$valid)" ng-init="editMode()"
      enctype="mulitpart/form-data">
      <div class="form-group">
        <label>
          Name
        </label>
        <input class="form-control" type="text" required name="name" ng-model="contact.name">
        <span class="highlight_error" ng-show="contactForm.name.$dirty">
          <span ng-show="contactForm.name.$error.required">
            Name is required
          </span>
        </span>
      </div>

      <div class="form-group">
        <label>
          Phone #
        </label>
        <input class="form-control" type="number" required name="phone" ng-model="contact.phone">
        <span class="highlight_error" ng-show="contactForm.phone.$dirty && contactForm.phone.$invalid">
          <span ng-show="contactForm.phone.$error.required">
            Phone # is required
          </span>
          <span ng-show="contactForm.phone.$error.number">
            Phone # should be in number format
          </span>
        </span>
      </div>

      <div class="form-group">
        <label>
          Email
        </label>
        <input class="form-control" type="email" required name="email" ng-model="contact.email">
        <span class="highlight_error" ng-show="contactForm.email.$touched && contactForm.email.$dirty">
          <span ng-show="contactForm.email.$error.required">
            Email is required
          </span>
          <span ng-show="contactForm.email.$error.email">
            Please enter valid email address
          </span>
        </span>
      </div>

      <div class="form-group">
        <input type="file" id="file" name="file" ng-model="file"></input>
      </div>

      <div class="form-group">
        <img src="uploads/{{contact.image}}" alt="" width="150">
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary form-control">
      </div>



    </form>
  </div>
</div>