<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Conctact</a>
  </li>
  <li class="breadcrumb-item active">Contacts List</li>
</ol>

<!-- DataTables Example -->
<div class="alert {{saveResponse._class}}">{{saveResponse.msg}}</div>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Contact List</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" ng-init="getContacts()">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <tr ng-repeat="contact in contacts" ng-init="$last && contactRepeatDone()">
            <td>{{contact.name}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.email}}</td>
            <td>
              <img src="uploads/{{contact.image}}" alt="" width="150">
            </td>
            <td>
              <a href="#!/edit_contact/{{contact.id}}" class="btn btn-info btn-xs">
                <i class="fa fa-edit"></i>
                Edit
              </a>

              <a href="" class="btn btn-danger btn-xs" ng-click="deleteContact(this)">
                <i class="fa fa-trash"></i>
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<p class="small text-center text-muted my-5">
  <em>More table examples coming soon...</em>
</p>