<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Contact Book - Login</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <script src="js/angular.js"></script>
  <!-- <script src="js/angular-route.js"></script> -->
  <!-- <script src="app/routes.js"></script> -->
  <script src="app/loginController.js"></script>
</head>

<body class="bg-dark" ng-app="login_app" ng-controller="loginController">
<div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <div class="alert alert-danger" ng-show="login_error ">Login error. Invalid username/password.</div>
        <form name="loginForm" novalidate ng-submit="auth()">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="autofocus" name="email" ng-model="login.email" required value="admin@angular.com">
              <span ng-show="loginForm.email.$dirty && loginForm.email.$invalid" class="highlight_error">
              <span class="help-block" ng-show="loginForm.email.$error.required">
                Email is required
              </span>
              <span class="help-block" ng-show="loginForm.email.$error.email">
                Invalid email adddress
              </span>
              </span>
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required ng-model="login.password" value="123">
              <span class="highlight_error" ng-show="loginForm.password.$dirty">
                  <span ng-show="loginForm.password.$error.required">
                    Password is required
                  </span>
              </span>
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>

          </div>
          <!-- <a class="btn btn-primary btn-block" href="index.html">Login</a> -->
          <input type="submit" name="" class="btn btn-primary btn-block" value="Login">
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="register.html">Register an Account</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
